// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

$image-path: '../../img';
$font-path: '../../fonts';

@import '@mozilla-protocol/core/protocol/css/protocol';
@import '@mozilla-protocol/core/protocol/css/includes/lib';
@import '@mozilla-protocol/core/protocol/css/components/button';
@import '@mozilla-protocol/core/protocol/css/templates/multi-column';
@import '@mozilla-protocol/core/protocol/css/components/footer';

:root {
    // fonts
    /* stylelint-disable value-keyword-case  */
    --body-font-family: 'Mozilla Text', Inter, 'Helvetica Neue', Arial, X-LocaleSpecific, sans-serif;
    --title-font-family: 'Mozilla Headline', Inter, 'Helvetica Neue', Arial, X-LocaleSpecific, sans-serif;
    /* stylelint-enable */
}

@font-face {
    font-display: swap;
    font-family: 'Mozilla Text';
    font-style: normal;
    font-weight: normal;
    src:
        url('/fonts/mozilla-text/MozillaText-Regular.woff2') format('woff2'),
        url('/fonts/mozilla-text/MozillaText-Regular.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Mozilla Text';
    font-style: italic;
    font-weight: normal;
    src:
        url('/fonts/mozilla-text/MozillaText-Italic.woff2') format('woff2'),
        url('/fonts/mozilla-text/MozillaText-Italic.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Mozilla Text';
    font-style: normal;
    font-weight: bold;
    src:
        url('/fonts/mozilla-text/MozillaText-Bold.woff2') format('woff2'),
        url('/fonts/mozilla-text/MozillaText-Bold.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Mozilla Headline';
    font-style: normal;
    font-weight: bold;
    src:
        url('/fonts/mozilla-headline/MozillaHeadline-SemiBold.woff2') format('woff2'),
        url('/fonts/mozilla-headline/MozillaHeadline-SemiBold.woff') format('woff');
}

/* Protocol overrides ---------------------------------------------------------- */
body {
    font-family: var(--body-font-family);
    font-variant-ligatures: none;
    line-height: 1.4;
}

h1, h2, h3, h4, h5,
.mzp-u-title-sm {
    font-family: var(--title-font-family);
    font-variant-ligatures: none;
    font-weight: 600;
    letter-spacing: -0.01em;
    line-height: 1.1;
}

.mzp-c-footer-primary-logo > a {
    background: transparent url('/img/logos/mozilla/lockup-white.svg') center center no-repeat;
    background-size: 100px auto;
}

/* General styles -------------------------------------------------------------- */
.c-letter-section {
    padding: $layout-sm 0;

    @media #{$mq-md} {
        padding: $layout-md 0;
    }
}

.c-letter-intro {
    @include text-body-lg;
}

.c-share {
    margin: $layout-md 0;
}

.c-signature-count {
    background: $color-black;
    border-radius: $border-radius-lg;
    color: $color-white;
    height: fit-content;
    margin-bottom: $spacing-xl;
    padding: $spacing-md;
    text-align: center;

    strong {
        @include text-title-sm;
        display: block;
        font-family: var(--body-font-family);
    }
}

.c-signatures-title {
    margin-bottom: $layout-sm;

    span {
        @include text-body-sm;
        display: block;
        font-family: var(--body-font-family);
        font-weight: normal;
    }
}

.c-signatures-list {
    margin-bottom: $layout-sm;

    li {
        @include text-body-sm;
        margin-bottom: .5em;
    }

    cite {
        font-weight: bold;
        font-style: normal;
    }
}

@media #{$mq-md} {
    .c-letter-signatures-inner {
        column-gap: $layout-lg;
        display: grid;
        grid-template-columns: 25% 1fr;

        .c-signatures {
            grid-column: 2;
            grid-row: 1;
        }

        .c-signature-count {
            grid-column: 1;
            grid-row: 1;
        }
    }

    .c-signatures-header {
        column-gap: $layout-lg;
        display: grid;
        grid-template-columns: 1fr 25%;

        .c-signature-count {
            grid-column: 2;
            grid-row: 1;
        }
    }

    .c-signatures-list {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        column-gap: $spacing-lg;
    }
}

@media #{$mq-lg} {
    .signatures .c-signatures-list {
        grid-template-columns: repeat(4, 25%);
    }
}

.c-signatures-header {
    margin-bottom: $layout-lg;
}

// Utility classes
.mzp-u-list-styled {
    &.u-list-type-upper-alpha {
        list-style-type: upper-alpha;
    }

    &.u-list-type-lower-alpha {
        list-style-type: upper-alpha;
    }
}
